language: php

php:
  #- 5.5.9
  #- 5.6 # Version 5.6.40 | End of Life: 10 Jan 2019
  # - 7.0 # Version 7.0.33 | End of Life: 10 Jan 2019
  # - 7.1 # Version 7.1.33 | End of Life: 1 Dec 2019
  - 7.2 # Version 7.2.30 | End of Life: 30 Nov 2020
  # - 7.3
  #- hhvm

env:
  #- ILLUMINATE=5.2.*
  #- ILLUMINATE=5.3.*
  #- ILLUMINATE=5.4.*
  - ILLUMINATE=5.5.* # LTS | End of Life: 2020-08-30
  #- ILLUMINATE=5.6.* # End of Life
  #- ILLUMINATE=5.7.* # End of Life
  #- ILLUMINATE=5.8.* # End of Life
  # - ILLUMINATE=6.* # LTS | End of Life: 2022-09-03
  # - ILLUMINATE=7.* # End of Life: 2021-03-03
  #- ILLUMINATE=dev-master
  # - TESTBENCH=3.5.*
  # - TESTBENCH=3.6.*
  

before_install:
  - composer require "illuminate/support:${ILLUMINATE}" --no-update --prefer-dist
  - composer require "illuminate/console:${ILLUMINATE}" --prefer-dist --no-update
  - composer require "illuminate/database:${ILLUMINATE}" --prefer-dist --no-update
  - composer require "illuminate/events:${ILLUMINATE}" --prefer-dist --no-update
  - composer require "illuminate/filesystem:${ILLUMINATE}" --prefer-dist --no-update
  - composer require "illuminate/support:${ILLUMINATE}" --prefer-dist --no-update
  - composer require --dev "orchestra/testbench:3.5.*" --prefer-dist --no-update
  - composer require --dev "phpunit/phpunit:6" --prefer-dist --no-update

#  if: ILLUMINATE=5.5.*
#    - composer require --dev "orchestra/testbench:3.5.*"

# optionally set up exclusions and allowed failures in the matrix
#matrix:
#  exclude:
#    - env: ILLUMINATE=5.5.* 
#      NOT env: TESTBENCH=3.5.*
#    - php: 7.1
#      env: ILLUMINATE=7.*
#  allow_failures:
#    - php: hhvm
#      env: ILLUMINATE=dev-master
      
before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction
  
script:
  - mkdir -p build/logs
  - phpunit --verbose --coverage-clover build/logs/clover.xml
  #  - vendor/bin/phpunit --verbose


after_success:
  - travis_retry php vendor/bin/php-coveralls

#after_script:
#  - travis_retry php vendor/bin/coveralls -v

# configure notifications (email, IRC, campfire etc)
notifications:
  irc: "irc.freenode.org#poing"