<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="vendor/autoload.php"
  backupGlobals="false"
  colors="true"
  processIsolation="false"
  stopOnFailure="false"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd"
  cacheDirectory=".phpunit.cache"
  backupStaticProperties="false"
>
  <coverage
    pathCoverage="false"
    ignoreDeprecatedCodeUnits="true"
    disableCodeCoverageIgnore="false"
  >
    <report>
      <html outputDirectory="cc-report" lowUpperBound="50" highLowerBound="90"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Baseline Eloquent Test">
      <directory suffix="Test.php">tests/Baseline</directory>
    </testsuite>
    <testsuite name="Basic Baum Test">
      <directory suffix="Test.php">tests/Basic</directory>
    </testsuite>
    <testsuite name="Baum Main Test">
      <directory suffix="Test.php">tests/Main</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
  <logging>
    <testdoxText outputFile="build/coverage.txt"/>
  </logging>
</phpunit>
